nav.navigation {
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: var(--brand);
}

nav.navigation a {
  color: var(--brand-text);
  text-decoration: none;
  margin: 0 100px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 900px) {
  nav.navigation a {
    margin: 0 25px;
  }
}

@media (max-width: 700px) {
  nav.navigation {
    padding-top: 15px;
    line-height: 1.5;
    text-align: left;
  }
  nav.navigation a {
    display: block;
  }
} 