h1 {
  /* translate: 100px 500px; */
  animation-name: walk;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes walk {
    25% {
      color: red;
      right: 0;
    }

    50% {
      color: blue;
      bottom: 0
    }

    75% {
      left: 0
    }

    100% {
      top: 0
    }
}


.box {
  width: 200px;
  margin: 0 auto;
  height: 200px;
  display: block;
  /* transform: rotate(45deg); */
    /* rotate: 45deg; */
    /* scale: 2;
    transform: scale(2); */
    /* translate: 200px 300px; */
    /* transform: translate(200px, 200px); */
    /* transform: skew(10deg, 20deg) */
    /* transition: scale 400ms; */
    transition: rotate 1s;
}

.box:hover {
  /* scale: 1.05 */
  /* rotate: 360deg */
}

.block {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 100px auto;
  background-color: #c51f1f;
  transition-property: color;
  transition-duration: 400ms;
  animation-name: move;
  animation-play-state: paused;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: steps(3);
}

.block:hover {
  animation-play-state: running;
}

@keyframes move {
  to {
    scale: 2;
  }
}



/* @keyframes move {
    from {

    }

    to {

    }
}

@keyframes move {
  0% {

  }

  100% {
    
  }
} */

button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 50px  auto;
  animation-duration: 100ms;
  animation-name: shake;
  animation-iteration-count: infinite;
 animation-fill-mode: forwards;
 animation-play-state: paused;
}

@keyframes shake {
    to {
      transform: skew(1deg, -1deg);
      scale: 1.01
    }
}

button:hover {
  /* animation-name: shake; */
  animation-play-state: running;
}