/* body {
  background-color: #850b0b;
} */

/* @font-face
@import */
@media (max-width: 800px) {
  /*  up to 1000px width i would like to apply these styling */
  body {
    background-color: #f00;
  }
  h1 {
    color: #00f;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  body {
    background-color: #0f0;
  }

  h1 {
    color: #fff;
  }
}

@media (min-width: 1200px) {
  /* 1000px and up apply these styling */
  body {
    background-color: #00f;
  }
  h1 {
    color: #f00;
  }
}
