.container {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; */
  padding-left: 30px;
  padding-right: 30px;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

img {
  width: 100%;
  margin-bottom: 50px;
}


@media (min-width: 1200px) {
  .column {
    padding: 10px;
    float: left;
    width: 25%;
  }
}

@media (max-width: 1200px) and (min-width: 700px) {
    .column {
      padding: 10px;
      float: left;
      width: 50%;
    }
}

@media (max-width: 700px) {
  .column {
    padding: 10px;
    float: left;
    width: 100%;
  }
}

